{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gestion des Recettes{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- NAVBAR -->
    <header class="navbar">
        <div class="container">
            <h1 class="logo">🚚 Gestion Recettes</h1>
            <nav>
                <a href="/recettes/">Recettes</a>
                <a href="/admin/">Admin</a>
            </nav>
        </div>
    </header>

    <!-- CONTENU -->
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <p>© 2026 - Application de gestion des recettes</p>
    </footer>

</body>
</html>
