{% extends 'base.html' %}

{% block title %}Liste des recettes{% endblock %}

{% block content %}
<div class="card">
    <h2>📋 Liste des recettes</h2>

    <a class="btn" href="{% url 'ajouter_recette' %}">➕ Ajouter une recette</a>

    <ul class="recette-list">
    {% for recette in recettes %}
        <li>
            <span class="recette-desc">{{ recette.description }}</span>
            <span class="recette-prix">{{ recette.prix }} FCFA</span>
        </li>
    {% empty %}
        <li>Aucune recette disponible</li>
    {% endfor %}
</ul>
</div>
{% endblock %}
<a href="{% url 'accueil' %}">Retour à l'accueil</a>


