/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #f4f6f9;
    color: #333;
}

/* CONTAINER */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* NAVBAR */
.navbar {
    background: #1e293b;
    padding: 15px 0;
    color: white;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
}

.navbar a {
    color: #e5e7eb;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    color: #38bdf8;
}

/* CONTENU */
main {
    margin: 40px auto;
}

/* CARDS */
.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

/* BOUTONS */
.btn {
    display: inline-block;
    background: #2563eb;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}

.btn:hover {
    background: #1d4ed8;
}

/* FOOTER */
.footer {
    background: #0f172a;
    color: #94a3b8;
    text-align: center;
    padding: 15px;
}
